<html>
	<head>
		<title>{% block title %}{% endblock %} - Movie Universe</title>
		<style type="text/css">
			#main { margin-left: auto; margin-right: auto; width: 850px; padding: 15px 15px 15px 15px; border: 1px solid black; background-color: cccccc; box-shadow: 5px 5px 10px #888888;}
			#center { align:center }
		</style>
	</head>
	<body>
		<div id="main">
			<header>
				<a href="{{ path('home') }}"><img src="{{ asset('bundles/pp5movieuniverse/images/logo.png') }}"></a>
			</header>
		
			{% if app.user %}
				<div align="center">
					<br>Witaj {{ app.user.name }} {{ app.user.surname }}!<br>
					<a href="{{ path('cart') }}">Koszyk</a> | <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
				</div>
			{% elseif not app.user %}
				<div align="center">
					<br>Witaj Nieznajomy!<br>
					<a href="#koszyk">Koszyk</a> | <a href="{{ path('fos_user_security_login') }}">Zaloguj</a> | <a href="{{ path('fos_user_registration_register') }}">Zarejestruj</a>
				</div>
			{% endif %}
			
			<br>
			
			<div style="text-align: center; height: 50px"><h4>
				{% block notice %}
				{% endblock %}
			</h4></div>
			
			
			<section>
				{% block content %}
				{% endblock %}
			</section>
			
			
			<br><br>
			
			<footer>
				(c) Movie Universe 2015
			</footer>
		</div>
	</body>
</html>