{% extends 'PP5MovieUniverseBundle::base.html.twig' %}

{% block title %}
	{{ movie.title }}
{% endblock %}

{% block notice %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		{{ flashMessage }}
	{% endfor %}
{% endblock %}

{% block content %}

		<table width=820 align=center>
			<tr>
				<td width=400 valign="top" cellspacing="20">
					<h1>{{ movie.title }}</h1>
					<p>
							<img src="{{ asset('bundles/pp5movieuniverse/images/' ~ movie.id ~ '.png'	) }}" />
					</p>					
				</td>
				<td width=400 valign="top" cellspacing="20">	
					<h1>O filmie</h1>
					<p>
						<big><b>Cena: {{ movie.price }}zł</b></big>

                        <form action="{{ path('cart.add_item', {slug : movie.id}) }}">
							<input type="submit" value="Wypożycz">
                        </form>

					</p>
					<p>{{ movie.description }}</p><br>
					<p>Obsada:<ul>
						{% for actor in movie.actors %}
							<li>{{ actor.name }} {{ actor.surname }}
						{% endfor %}
					</ul></p>
					
					</p>
				</td>
			</tr>
			<tr>
				<td width=400 colspan=2 valign="top" cellspacing="20">
					<h1>Recenzje użytkowników:</h1>
					<p><ul>
						{% for review in movie.reviews %}
							<li>{{ review.reviewContent }}
						{% endfor %}
					</ul></p>
					<p>
						{% if app.user %}
							<div align="center"><form method="post" action="{{ path('add_review', {'slug': movie.id}) }}"><input type="submit" value="Dodaj recenzję"></form></div>
						{% elseif not app.user %}
							<h4>Bardzo nam przykro, lecz tylko zalogowani użytkownicy mogą dodawać recenzje.</h4>
						{% endif %}
					
					</p>
				</td>
			</tr>
		</table>

{% endblock %}
