{% extends 'PP5MovieUniverseBundle::base.html.twig' %}

{% block content %}

		<table width=80% align=center>
			<tr>
				<td width=30% valign="top" cellpadding="20">
					<h1>Dostępne filmy:</h1>
					<p><ul>
						{% for available_movie in available_movies %}
							<li><a href="{{ 'movie/' ~ available_movie.id  }}">
							{{ available_movie.title }}</a> [{{ available_movie.genre.name }}]<br>
						{% endfor %}
					</ul></p>					
				</td>
				<td width=30% valign="top" cellpadding="20">	
					<h1>Najczęściej wypożyczane:</h1>
					<p><ol>
						{% for most_ordered_movie in most_ordered_movies %}
							<li>{{ most_ordered_movie.title }} <br>
						{% endfor %}
					</ol></p>
				</td>
			</tr>
			<tr>
				<td width=30% valign="top" cellpadding="20">
					<h1>Najczęściej recenzowane:</h1>
					<p><ol>
						{% for most_reviewed_movie in most_reviewed_movies %}
							<li><a href="{{ 'movie/' ~ most_reviewed_movie.id  }}">{{ most_reviewed_movie.title }}</a> <br>
						{% endfor %}
					</ol></p>
				</td>
				<td width=30% valign="top" cellpadding="20">
					<h1>Gatunki filmów:</h1>
					<p><ul>
						{% for genre in genres %}
							<li>{{ genre.name }} <br>
						{% endfor %}
					</ul></p>
				</td>
			</tr>
		</table>

{% endblock %}

